/* Default styling is for mobile screens */
html,
body {
  color: #0c090d;
}
.App h1 {
  font-size: 11vw;
}
.my-library-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.book-card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
}
.book-card h5 {
  font-size: 7vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
button {
  margin: 0.5rem;
}
#seeMore {
  background-color: #fedc97;
}
#deleteBook {
  background-color: #e84855;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* For larger screens  */
@media only screen and (min-width: 660px) {
  .my-library-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
