/* Default styling is for mobile screens */
.App h1 {
  font-size: 11vw;
}
.my-library-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.book-card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
}

/* For larger screens  */
@media only screen and (min-width: 660px) {
  .my-library-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
