/* Default styling is for mobile */

.book-detail-container {
  display: grid;
  grid-template-columns: 1fr;
}
.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}

.home-button {
  background-color: #89d2dc;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.home-button h5,
.mylibrary-button h5 {
  font-size: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mylibrary-button {
  background-color: #fedc97;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.book-detail-info h5 {
  font-size: 7vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.book-description-container {
  margin-bottom: 2rem;
}
.review-container {
  padding: 1rem;
  box-sizing: border-box;
  background-color: #89d2dc;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.review-container h5 {
  font-size: 4vw;
  margin-top: 1rem;
}
