/* Default styling is for mobile screens */
html,
body {
  color: #0c090d;
}
.App h1 {
  font-size: 11vw;
}
/* The following class encompasses all elements that might be rendered in this mylibrary page (loading, login, etc) */
.mylibrary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.my-library-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.empty-library-container {
  grid-column: 1 / 4;
}
.book-card {
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #fefefa;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.book-card h5 {
  font-size: 7vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
button {
  margin: 0.5rem;
  margin-top: 1rem;
  color: #0c090d;
}
#seeMore {
  background-color: #fedc97;
  font-size: 0.9em;
}
#deleteBook {
  background-color: #e84855;
  font-size: 0.9em;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* For larger screens  */
@media only screen and (min-width: 660px) {
  .App h1 {
    font-size: 4vw;
  }
  .my-library-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 100%;
    margin: 0 auto;
  }

  .book-card h5 {
    font-size: 2vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .book-card img {
    width: 50%;
  }
  .button-container {
    margin-top: 3rem;
  }
  .need-to-login {
    max-width: 80%;
  }
  #seeMore {
    font-size: 0.8em;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #deleteBook {
    font-size: 0.8em;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
