/* Default styling is for mobile screens */
html,
body {
  color: #0c090d;
}
.App h1 {
  font-size: 11vw;
}
.my-library-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.book-card {
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
  background-color: #fefefa;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.book-card h5 {
  font-size: 7vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
button {
  margin: 0.5rem;
  margin-top: 1rem;
}
#seeMore {
  background-color: #fedc97;
  font-size: 0.9em;
}
#deleteBook {
  background-color: #e84855;
  font-size: 0.9em;
}
.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* For larger screens  */
@media only screen and (min-width: 660px) {
  .App h1 {
    font-size: 4vw;
  }
  .my-library-container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .book-card h5 {
    font-size: 2vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .book-card img {
    width: 50%;
  }
  .button-container {
    margin-top: 3rem;
  }
}
