.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5rem;
}
/* The navbar-container could use a little more styling. Right now, it changes size and configuration a bit
based on the content below. When the content is wider, for example with the search results, the navbar buttons fan
out to wider positions. */

.home-button {
  background-color: #89d2dc;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.home-button h5,
.mylibrary-button h5 {
  font-size: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #0c090d;
}
.mylibrary-button {
  background-color: #fedc97;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
