/* Default styling is for mobile */
#submit-search-button {
  background-color: #2cf6b3;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
#submit-search-button h5 {
  font-size: 1em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.book-result-container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 14;
  overflow: hidden;
}
#search-book-description {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  width: fit-content;
  white-space: nowrap;
}

/* Input styling from https://uiverse.io/ErzenXz/horrible-rattlesnake-14 */
.input {
  width: 100%;
  max-width: 230px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}
.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}
.input:active {
  transform: scale(0.95);
}
.input:focus {
  border: 2px solid grey;
}

.search-type-container {
  margin-top: 1rem;
}
.search-results-container {
  margin-top: 2rem;
}
.book-result-container {
  margin-bottom: 2rem;
}
.add-to-library-button {
  background-color: #eac4d5;
}

/* For larger screens  */
@media only screen and (min-width: 660px) {
  .search-results-container {
    display: grid;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .book-result-container {
    border-radius: 10px;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #fefefa;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
